<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="idmediaworks">
			<section name="exceptionLogger" type="Idmediaworks.ExceptionLogger.ConfigurationHandler, Idmediaworks.ExceptionLogger" />
		</sectionGroup>
	</configSections>
	
	<idmediaworks>
		<exceptionLogger>
			<mail to="errors@idmediaworks.com" />
		</exceptionLogger>
	</idmediaworks>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ExceptionLogger" type="Idmediaworks.ExceptionLogger.Module, Idmediaworks.ExceptionLogger" preCondition="managedHandler" />
		</modules>
	</system.webServer>
</configuration>